<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Restaurantes</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
    <style>
        .container{
            color: orange;
        }
        .jumbotron{
            background-color: #012438;
            color: orange;
        }
    </style>
    <script th:inline="javascript">
        function ratingStars(yellow,id ){
            var rating= ''+id+'';
            for (var gray = (5 - yellow); gray >= 1; gray--)
            {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:gray; font-size:120%;";
              document.getElementById(rating).appendChild(star);
            }
             if ((yellow*2) % 2 != 0) {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:gray; font-size:120%;";
              document.getElementById(rating).appendChild(star);
              var star1 = document.createElement("label");
              star1.className = "half";
              star1.style= "color:yellow; font-size:120%;";
              document.getElementById(rating).appendChild(star1);
            }
            for ( ; yellow >= 1; yellow--)
            {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:yellow; font-size:120%;";
              document.getElementById(rating).appendChild(star);
            }


        }
    </script>
</head>
<body>
<h5><a href="javascript:history.back()">Volver</a></h5>
<div class="container">
    <div class="page-header">
        <h2><strong>Administrador</strong></h2>
    </div>
    <button class="btn btn-secondary" style="color: #00002D; background-color: orange;"
            onclick="window.location.href='/logout'">Cerrar sesion</button>
    <button class="btn btn-s econdary" style="color: #00002D; background-color: orange;"
            onclick="window.location.href='/ADMIN/newRestaurant'">Nuevo restaurante</button>
    <div class="media jumbotron" th:each="restaurant: ${restaurants}">
        <div class="media-body">
            <img class="media-object" th:src="@{'data:image/jpg;base64,' +  ${restaurant.f}}" width="300px;" height="200px;"/>
            <h4 class="media-heading" th:text="${restaurant.name}"></h4>
            <p th:text="${restaurant.category.name}"></p>
            <p th:text="${restaurant.city.name}"></p>
            <fieldset  class="rating"  th:id=" ${restaurant.id}" >
                <script th:inline="javascript">
                            var score = /*[[${restaurant.score}]]*/ '0';
                            var id = /*[[${restaurant.id}]]*/ '0';
                            ratingStars(score,id);
                </script>
            </fieldset>
        </div>
        <a th:href="${'/showRestaurant/' + restaurant.id}">Ver</a>
        <a th:href="${'/ADMIN/editRestaurant/' + restaurant.id}"><span class="glyphicon glyphicon-pencil">Editar</span></a>
        <a th:href="${'/ADMIN/deleteRestaurant/' + restaurant.id}"><span class="glyphicon glyphicon-trash">Eliminar</span></a>
    </div>
</div>
</body>
</html>