<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Editar Restaurante</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <style>
        .container{
            color: orange;
        }
    </style>
    <style>
         div#gmap {
        width: 80%;
        height: 500px;
        border:double;
    }
    </style>
    <script type="text/javascript"  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCTuazTT4ftRrTOscHQYPabgJPLiBS9YXc">  </script>

    <script th:inline="javascript">
        var map;
        function initialize() {
            var myLatlng = new google.maps.LatLng([[${restaurant.latitude}]], [[${restaurant.longitude}]]);
            var myOptions = {
                zoom:16,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable

            var marker = new google.maps.Marker({
                      position: myLatlng,
                      map: map
            });;
            google.maps.event.addListener(map, "click", function(event) {

                marker.setMap(null);
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("lat").value = clickLat.toFixed(5);
                document.getElementById("lon").value = clickLon.toFixed(5);

                marker = new google.maps.Marker({
                      position: new google.maps.LatLng(clickLat,clickLon),
                      map: map
                });
            });
    }

     window.onload = function () { initialize() };
    </script>

</head>
<body>
<h5><a href="javascript:history.back()">Volver</a></h5>
<div class="container">
    <div class="page-header">
        <h2><strong>Editar restaurante</strong></h2>
    </div>
    <form autocomplete="off" th:action="@{/restaurant}"  method="POST"
          th:object="${restaurant}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" th:value="restaurant.id"/>
        <p>Ingrese el nombre</p>
        <input class="form-control my-0 py-1" style="min-width: 100%; color: orange;" type="text" th:field="*{name}" th:value="restaurant.name" placeholder="Nombre" required="required"/>
        <p>Ingrese Direccion Principal: </p>
        <input class="form-control my-0 py-1" style="min-width: 100%; color: orange;" type="text" th:field="*{direction}" th:value="restaurant.direction" placeholder="Direccion" required="required"/>
        <p>Ingrese el telefono: </p>
        <input class="form-control my-0 py-1" style="min-width: 100%; color: orange;" type="text" th:field="*{phone}" th:value="restaurant.phone" placeholder="Telefono" required="required"/>
        <br />
        <select class="form-control" style="width: 250px; color: orange;" th:field="*{category}">
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
                    th:selected="(${category.id} == ${restaurant.category.id})"></option>
        </select>
        <br/>
        <select class="form-control" style="width: 250px; color: orange;" th:field="*{city}">
            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"
                    th:selected="(${city.id} == ${restaurant.city.id})"></option>
        </select>

        <p>Nivel del Restaurante</p>
        <select class="form-control" style="width: 250px; color: orange;" th:field="*{level}">
            <option th:each="levelRestaurant : ${levels}" th:value="${levelRestaurant.id}" th:text="${levelRestaurant.name}"></option>
        </select>

        <br />
        <input type="file" name="file" id="foto"/>
        <br/>
        <input type="hidden" id="lat" th:field="*{latitude}" th:value="latitude"/>
        <input type="hidden" id="lon" th:field="*{longitude}" th:value="longitude"/>
        <div id="gmap"></div>
        <br/>
        <button class="btn btn-secondary" style="color: #00002D; background-color: orange;" type="submit" >Guardar cambios</button>
    </form>
</div>
</body>
</html>