<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8"/>
    <title>Ranking general</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
    <script th:inline="javascript">
        function ratingStars(yellow,id ){
            var rating= ''+id+'';
            for (var gray = (5 - yellow); gray >= 1; gray--)
            {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:gray; font-size:120%;";
              document.getElementById(rating).appendChild(star);
            }
             if ((yellow*2) % 2 != 0) {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:gray; font-size:120%;";
              document.getElementById(rating).appendChild(star);
              var star1 = document.createElement("label");
              star1.className = "half";
              star1.style= "color:yellow; font-size:120%;";
              document.getElementById(rating).appendChild(star1);
            }
            for ( ; yellow >= 1; yellow--)
            {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:yellow; font-size:120%;";
              document.getElementById(rating).appendChild(star);
            }

        }
    </script>
</head>
<body>
<h5><a href="javascript:history.back()">Volver</a></h5>
<div class="container">
    <div class="page-header">
        <h2><strong>Ranking</strong></h2>
    </div>
    <form style="display:flex" action="/rankingCategorias" method="get">
        <select id="categoria" name="categoria" style="width: 300px; color:orange" class="form-control" >
            <option value="0">Todas las categorias</option>
            <option style="color:orange"
                    th:each="category : ${categorias}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>
        <input value = "Buscar" type="submit" class="btn btn-secondary" style="color:orange; background-color: rgba(1, 1, 36, 0.56);"/>
    </form>
    <div class="media jumbotron" th:each="restaurant: ${restaurants}">
        <div class="media-body">
            <a th:href="${'/showRestaurant/' + restaurant.id}">
                <img class="media-object" th:src="@{'data:image/jpg;base64,' +  ${restaurant.f}}" width="300px;" height="200px;"/>
            </a>
            <h4 class="media-heading" th:text="${restaurant.name}"></h4>
            <p th:text="${restaurant.category.name}"></p>
            <p th:text="${restaurant.city.name}"></p>
            <fieldset  class="rating"  th:id=" ${restaurant.id}" >
                <script th:inline="javascript">
                            var score = /*[[${restaurant.score}]]*/ '0';
                            var id = /*[[${restaurant.id}]]*/ '0';
                            ratingStars(score,id);
                </script>
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>