<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <style>
        .container{
            color: orange;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h2><strong>Nuevo usuario</strong></h2>
        </div>
        <form th:action="@{/}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
        </form>
        <br />
        <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" class="form-horizontal" role="form"
              enctype="multipart/form-data">
            <label>Email o username</label>
            <input class="form-control my-0 py-1" style="min-width: 100%; color: orange;" type="text" th:field="*{username}" placeholder="Username" required="required"/>
            <br />
            <label>Nombre</label>
            <input class="form-control my-0 py-1" style="min-width: 100%; color: orange;" type="text" th:field="*{name}" placeholder="Nombre" required="required"/>
            <br />
            <label>Telefono</label>
            <input class="form-control my-0 py-1" style="min-width: 100%; color: orange;" type="text" th:field="*{telephone}" placeholder="Telefono" required="required"/>
            <br />
            <label>Password</label>
            <input class="form-control my-0 py-1" style="min-width: 100%; color: orange;" type="password" th:field="*{password}"
                   placeholder="Password" required="required"/>
            <br />
            <label>Confirma tu password</label>
            <input class="form-control my-0 py-1" style="min-width: 100%; color: orange;" type="password" th:field="*{passwordConfirm}"
                   placeholder="passwordConfirm" required="required"/>
            <br />
            <label>Foto de perfil</label>
            <input type="file" name="file" id="foto"/>
            <br />
            <button type="submit" class="btn btn-secondary btn-block"  style="color: #00002D; background-color: orange;" >Register User</button>
            <span th:utext="${successMessage}"></span>
        </form>
    </div>
</body>
</html>