<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Restaurantes</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
    <style>
        .container{
            color: orange;
        }
        .jumbotron{
            background-color: #012438;
            color: orange;
        }
    </style>
    <style>
       #map {
         width: 80%;
        height: 500px;
        border:double;
       }
    </style>
    <script type="text/javascript"  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCTuazTT4ftRrTOscHQYPabgJPLiBS9YXc">  </script>

    <script type="text/javascript" th:inline="javascript">

      function loadMap() {
        var tam = /*[[${size}]]*/ '0';
        var i = 0;
        var lats = /*[[${latitudes}]]*/ '[]';
        var lons = /*[[${longitudes}]]*/ '[]';
        var titulos = /*[[${titulos}]]*/ '[]';
        var ids = /*[[${ids}]]*/ '[]';

        while(tam > i){
            console.log(tam);
            console.log(lats[i]);
            console.log(lons[i]);
            var latlng = new google.maps.LatLng(lats[i],lons[i]);
            var myOptions = {
              zoom: 16,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            if(i == 0){
                var map = new google.maps.Map(document.getElementById("map"),myOptions);
            }

            var marker = new google.maps.Marker({
              position: latlng,
              map: map,
              title: titulos[i],
              url: 'showRestaurant/' + ids[i]
            });

            google.maps.event.addListener(marker,'click',function(){
                window.location.href = this.url;
            });
            i++;
        }
      }

    </script>

    <script th:inline="javascript">
        function ratingStars(yellow,id ){
            var rating= ''+id+'';
            for (var gray = (5 - yellow); gray >= 1; gray--)
            {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:gray; font-size:120%;";
              document.getElementById(rating).appendChild(star);
            }
             if ((yellow*2) % 2 != 0) {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:gray; font-size:120%;";
              document.getElementById(rating).appendChild(star);
              var star1 = document.createElement("label");
              star1.className = "half";
              star1.style= "color:yellow; font-size:120%;";
              document.getElementById(rating).appendChild(star1);
            }
            for ( ; yellow >= 1; yellow--)
            {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:yellow; font-size:120%;";
              document.getElementById(rating).appendChild(star);
            }


        }
    </script>
</head>
<body onload="loadMap()">
<h5><a href="javascript:history.back()">Volver</a></h5>
<div class="container">
    <form style="display:flex" action="/search" method="get">
        <select id="ciudad" name="ciudad" style="width: 300px; color:orange" class="form-control" >
            <option value="0">Todas las ciudades</option>
            <option th:if="${ciudadAnterior!=0}" th:value="${ciudadAnterior.id}" th:text="${ciudadAnterior.name}" selected="true"></option>
            <option style="color:orange"
                    th:each="city : ${ciudades}"
                    th:value="${city.id}"
                    th:text="${city.name}"></option>
        </select>
        <select id="categoria" name="categoria" style="width: 300px; color:orange" class="form-control" >
            <option value="0">Todas las categorias</option>
            <option th:if="${categoriaAnterior!=0}" th:value="${categoriaAnterior.id}" th:text="${categoriaAnterior.name}" selected="true"></option>
            <option style="color:orange"
                    th:each="category : ${categorias}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>
        <select id="score" name="score" style="width: 300px; color:orange" class="form-control" >
            <option value="0"> Todas las estrellas </option>
            <option value="1"> > 0 estrellas </option>
            <option value="2"> > 1 estrella </option>
            <option value="3"> > 2 estrellas </option>
            <option value="4"> > 3 estrellas </option>
            <option value="5"> > 4 estrellas </option>
        </select>

        <input  class="form-control my-0 py-1" type="text" id ="name" name="name" th:placeholder="Search..." aria-label="Search"  th:value="${nameAnterior}" style="color:orange"/>
        <input value = "Buscar" type="submit" class="btn btn-secondary" style="color:orange; background-color: rgba(1, 1, 36, 0.56);"/>
    </form>
    <div th:if="${restaurants.size() > 0}" id="map"></div>
    <br/>
    <p th:if="${restaurants.size() == 0}" style="text-align:center; font-size:150%;">No se encontraron restaurantes</p>
    <div class="media jumbotron" th:each="restaurant: ${restaurants}">
        <div class="media-body">
            <a th:href="${'/showRestaurant/' + restaurant.id}">
                <img class="media-object" th:src="@{'data:image/jpg;base64,' +  ${restaurant.f}}" width="300px;" height="200px;"/>
            </a>
            <h4 class="media-heading" th:text="${restaurant.name}"></h4>
            <p th:text="${restaurant.category.name}"></p>
            <p th:text="${restaurant.city.name}"></p>
            <fieldset  class="rating"  th:id=" ${restaurant.id}" >
                <script th:inline="javascript">
                            var score = /*[[${restaurant.score}]]*/ '0';
                            var id = /*[[${restaurant.id}]]*/ '0';
                            ratingStars(score,id);
                </script>
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>