<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8"/>
    <title>Show</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
    <style>
        .jumbotron{
            background-color: #012438;
            color: orange;
        }
        .container{
            color: orange;
        }
    </style>
    <style>
       #map {
         width: 80%;
        height: 500px;
        border:double;
       }
    </style>
    <script type="text/javascript"  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCTuazTT4ftRrTOscHQYPabgJPLiBS9YXc">  </script>

    <script  th:inline="javascript">
      function loadMap() {
        var directionsDisplay = new google.maps.DirectionsRenderer();
        var directionsService = new google.maps.DirectionsService();

        var latlng = new google.maps.LatLng([[${restaurant.latitude}]], [[${restaurant.longitude}]]);
        var myOptions = {
          zoom: 16,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map"),myOptions);

        directionsDisplay.setMap(map);

        var marker = new google.maps.Marker({
          position: latlng,
          map: map,
          title:"Restaurant"
        });
        var latlngDestination = {};
        google.maps.event.addListener(map, "click", function(event) {
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();
                var latlng = new google.maps.LatLng(clickLat,clickLon);
                latlngDestination = latlng;
                calculateRoute();
        });
        function calculateRoute(){
            var request = {
                origin: latlng,
                destination: latlngDestination,
                travelMode: 'DRIVING'
            }
            directionsService.route(request, function(result, status){
                if(status == "OK"){
                    directionsDisplay.setDirections(result);
                }
            });
        }
      }
    </script>
    <script th:inline="javascript">
    function ratingStars(){

            var yellow =/*[[${restaurant.score}]]*/ '0';


            for (var gray = (5 - yellow); gray >= 1; gray--)
            {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:gray; font-size:120%;";
              document.getElementById("rating").appendChild(star);
            }
             if ((yellow*2) % 2 != 0) {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:gray; font-size:120%;";
              document.getElementById("rating").appendChild(star);
              var star1 = document.createElement("label");
              star1.className = "half";
              star1.style= "color:yellow; font-size:120%;";
              document.getElementById("rating").appendChild(star1);
            }
            for ( ; yellow >= 1; yellow--)
            {
              var star = document.createElement("label");
              star.className = "full";
              star.style= "color:yellow; font-size:120%;";
              document.getElementById("rating").appendChild(star);
            }

        }
    </script>
</head>
    <body onload="loadMap(); ratingStars()">
    <h5><a href="javascript:history.back()">Volver</a></h5>
    <div class="container">
        <div>
            <img class="info" th:src="@{'data:image/jpg;base64,' + ${fot} }" width="600px" height="400px"/>
        </div>
        <br/>
        <div class="page-header">
            <h2><strong th:text="${restaurant.name}"></strong></h2>
        </div>
        <div>
                <p>Ciudad: <span th:text="${restaurant.city.name}"></span></p>
                <p>Direccion: <span th:text="${restaurant.direction}"></span></p>
                <div id="map"></div>
                <p>Telefono: <span th:text="${restaurant.phone}"></span></p>
                <p>Categoria: <span th:text="${restaurant.category.name}"></span></p>
                <p>Likes: <span th:text="${restaurant.likeRestaurants.size()}"></span></p>
                <p>Ranking:</p>
                <div style="display: flex;" >
                    <fieldset  class="rating" id="rating"> </fieldset>
                </div>
                <form th:action="@{/restaurant/like}" method="POST" style="align: left">
                    <input type="hidden" name="restaurant" th:value="${restaurant.id}"/>
                    <input type="hidden" name="user" th:value="${user.id}"/>
                    <button type="submit" class="btn btn-inverse btn-danger"><span class="glyphicon glyphicon-heart"></span></button>
                </form>
                <div class="container" th:if="${commentFunction}">
                    <form th:action="@{/comment}" method="POST">
                        <input type="hidden" name="restaurant" th:value="${restaurant.id}"/>
                        <input type="hidden" name="user" th:value="${user.id}"/>
                        <textarea class="form-control my-0 py-1" style="min-width: 100%; color: orange;" name="text" id="text" required="required" placeholder="Escribe un comentario"></textarea>
                        <div style="display: flex;">
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="score" value="5" required="required" checked="checked"/><label class = "full" for="star5"></label>
                                <input type="radio" id="star4half" name="score" value="4.5" /><label class="half" for="star4half" ></label>
                                <input type="radio" id="star4" name="score" value="4" /><label class = "full" for="star4" ></label>
                                <input type="radio" id="star3half" name="score" value="3.5" /><label class="half" for="star3half"></label>
                                <input type="radio" id="star3" name="score" value="3" /><label class = "full" for="star3" ></label>
                                <input type="radio" id="star2half" name="score" value="2.5" /><label class="half" for="star2half" ></label>
                                <input type="radio" id="star2" name="score" value="2" /><label class = "full" for="star2" ></label>
                                <input type="radio" id="star1half" name="score" value="1.5" /><label class="half" for="star1half"></label>
                                <input type="radio" id="star1" name="score" value="1" /><label class = "full" for="star1" ></label>
                                <input type="radio" id="starhalf" name="score" value="0.5" /><label class="half" for="starhalf" ></label>
                            </fieldset>
                            <input class="btn btn-secondary" style="color: #00002D; background-color: orange;" type="submit" value="Enviar comentario"/>
                        </div>
                    </form>
                </div>
        </div>
        <div class="row">
            <div class="jumbotron" name="Comments" th:each="comment : ${restaurant.comments}">
                    <b>Text: </b> <span th:text="${comment.text}"></span><br />
                    <b>Date: </b> <span th:text="${comment.creationDate}"></span><br />
                    <b>User: </b> <a th:href="${'/profile/' + comment.user.id}" th:text="${comment.user.username}"></a><br />
                    <b>Likes: </b> <a th:text="${comment.likes}"></a>
                    <b>Score: </b> <a th:text="${comment.score}"></a>
                    <a type="button" class="btn btn-default" style="color:orange; background-color: #012438; border:none;" th:href="${'/commentlike/' + comment.id}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                    <a type="button" class="btn btn-default" style="color:orange; background-color: #012438; border:none;" th:href="${'/commentdislike/' + comment.id}"><span class="glyphicon glyphicon-thumbs-down"></span></a>
            </div>
        </div>
    </div>
</body>
</html>
